@tailwind base;
@tailwind components;
@tailwind utilities;

.stats {
  @apply bg-gray-500 bg-opacity-75 text-gray-800;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.scissors-info {
  margin-bottom: 13rem;
  line-height: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.stat {
  @apply text-4xl font-semibold;
}

.stat-texts {
  color:#eee;
  display: flex;
  gap: 7.2rem;
}

/*FEATURES*/
.info {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.why-scissors {
  display: grid;
  align-self: flex-start;
  grid-template-columns: auto 37rem;
  column-gap: 1.1rem;
  row-gap: 1.6rem;
}

.why-text {
  font-family: Gilroy-Bold,sans-serif;
  font-size: 2.5rem;
  line-height: 4.2rem;
  align-self: center;
}

.info-blocks {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.8rem;
  row-gap: 6.4rem;
}
